node_modules

#Hardhat files
cache
artifacts
exports
typechain
deployments/localhost
coverage
coverage.json
yarn.lock

.vscode
.env
soljson-v0.8.4+commit.c7e474f2.js
soljson-v0.6.12+commit.27d51765.js
